# Bonus: Temperature Analysis I

In [1]:
import pandas as pd
from datetime import datetime as dt

In [2]:
# "tobs" is "temperature observations"
df = pd.read_csv('hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [3]:
# Convert the date column format from string to datetime
df['date'] =  pd.to_datetime(df['date'], infer_datetime_format=True)

In [22]:
# Set the date column as the DataFrame index 
df.set_index('date')

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73
...                 ...   ...   ...
2017-08-19  USC00516128  0.09    71
2017-08-20  USC00516128   NaN    78
2017-08-21  USC00516128  0.56    76
2017-08-22  USC00516128  0.50    76
2017-08-23  USC00516128  0.45    76

[19550 rows x 3 columns]

### Compare June and December data across all years

In [23]:
from scipy import stats

In [24]:
df_june = df[df['date'].dt.month == 6]

df_dec = df[df['date'].dt.month == 12]

In [25]:
# Identify the average temperature for June

df_june['tobs'].mean()

74.94411764705882

In [26]:
# Identify the average temperature for December
df_dec['tobs'].mean()

71.04152933421226

In [27]:
# Create collections of temperature data (already done)

# Run paired t-test
stats.ttest_ind(df_june['tobs'], df_dec['tobs'], equal_var=False)

Ttest_indResult(statistic=31.355036920962423, pvalue=4.193529835915755e-187)

### Analysis

In [28]:
#We are using a independend t test because a paired t test requires equal sample sizes which we dont have.
print(f"December data {df_dec['tobs'].count()}")
print(f"june data {df_june['tobs'].count()}")

December data 1517
june data 1700

In [ ]:
#The pvalue here is really small so the probability that the means of these two sets are diferant by chance is really small meaning we reject the null hypothesis